body {
    background-color: #eef9bf;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin:25px;
  }

  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  .front {
    transform: rotateY(-180deg);
  }

  .back {
    transform: rotateY(0deg);
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;
  }

  img {
    width: 100px;
    height: 100px;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media(max-width: 335px) {
    h1{
        margin-left: 12px;
        margin-right: 12px;
    }
    .cards {
        flex-direction: column;
    }
  }